<header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">{{ app_name }}</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">{{ app_name }}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown solde-reel">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Solde réel">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-success">{{ app.user ? app.user.soldeReel : '' }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Solde réel : {{ app.user ? app.user.soldeReel : '' }} </li>
                    </ul>
                    <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown solde-prev">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Solde prévisionnel">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-warning">{{ app.user ? app.user.soldePrevisionnel : '' }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Solde prévisionnel : {{ app.user ? app.user.soldePrevisionnel : '' }} </li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown total-permission">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Total permission">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">{{ app.user ? countPermission(app.user) : '' }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Total permission : {{ app.user ? countPermission(app.user) : '' }}</li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('bundles/app/img/user2-160x160.jpg') }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ app.user ? app.user.name : '' }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ asset('bundles/app/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">

                            <p>
                                {{ app.user ? app.user.name }}  {{ app.user ?  ' - '~app.user.title : '' }}
                                <small>Crée le {{ app.user ? app.user.createdAt|date('d/m/Y') }}</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!--li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li-->
            </ul>
        </div>
    </nav>
</header>